.list-container {
  max-width: 1000px;
  h1 {
    font-weight: 700;
    font-size: 24px;
    line-height: 16px;
    color: rgb(255, 254, 254);
  }
  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style-type: none;
    padding-left: 0;
  }
  li {
    flex-basis: 48%;
    padding: 10px;
    background-color: #a4d4fc;
    border-radius: 8px;
    margin-bottom: 20px;

    div {
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: space-between;
    }
    p {
      font-family: "Roboto";
      font-size: 14px;
      line-height: 13px;
      color: rgb(34, 20, 99);
      font-weight: bolder;
    }
    span {
      margin-right: 7px;
      font-family: "Roboto";
      font-style: normal;
      font-size: 14px;
      line-height: 13px;
      font-weight: 800;
      color: #226fc7;
    }
    a {
      font-size: 12px;
      line-height: 14px;
      text-decoration: none;
      margin-bottom: 12px;
    }
  }
}
.total-count {
  display: flex;
  justify-content: flex-end;
  span {
    font-size: 18px;
    text-align: center;
    color: rgb(255, 254, 254);
  }
}
@media (max-width: 768px) {
  .list-container {
    max-width: fit-content;

    h1 {
      text-align: center;
    }
    li {
      margin: auto;
      margin-bottom: 15px;
      flex-basis: 90%;
    }
  }
}
